#q3q4_admin_root{
    padding: 20px;
    font-family: Arial, sans-serif;

    .theme-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}