$primaryColor: #4527a4;


.wp-block-q3q4-services-cards {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	.icon {
		font-style: inherit;
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}